.node {
    /* height: 54px; */
    flex: 1;
   
    transition: all 0.3s;
    -webkit-box-shadow: inset -4px -6px 11px -8px rgba(54,54,54,1);
-moz-box-shadow: inset -4px -6px 11px -8px rgba(54,54,54,1);
box-shadow: inset -2px -2px 10px -8px rgba(54,54,54,1);
}

.start  {
    background: #66AA3F;
}

.end {
    background: #510A19;
}

.visited  {
    background: #347691;
}

.path {
    background: #BDE236;
}

.wall {
    background: #444;
}

.right {
    border-right: solid 1px #363636;
}

.down {
    border-bottom: solid 1px #363636;  
}